@charset "UTF-8";
body {
  background-color: #111;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.calculator {
  width: 300px;
  background-color: #333;
  border-radius: 10px;
  font-family: "Courier New", Courier, monospace;
  margin-right: 5px;
}
@media (min-width: 500px) {
  .calculator {
    float: left;
  }
}
.calculator .top {
  font-size: 25px;
}
.calculator .top .answer {
  position: relative;
  display: inline-block;
  width: calc(100% - 20px);
  height: 2ch;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  background-color: #222;
}
.calculator .top .answer #error {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 50%;
  font-style: italic;
  background-color: initial;
  color: #faa;
}
.calculator .top .answer #error:not(:empty) ~ #answer {
  color: #888;
}
.calculator .top .answer #answer:empty::before {
  content: "...";
  opacity: 0.5;
}
.calculator .top #math {
  display: inline-block;
  width: calc(100% - 20px);
  height: 2ch;
  resize: none;
  margin: 0 5px;
  padding: 5px;
  overflow-y: auto;
  overflow: hidden;
  word-wrap: break-word;
  border: none;
  border-radius: 5px;
  font-size: inherit;
  font-family: inherit;
  background-color: #222;
  color: inherit;
}
.calculator .top #math:focus {
  outline: 1px solid #aaa;
}
.calculator #buttons {
  padding: 2.5px;
}
.calculator #buttons article {
  display: inline-block;
  border: none;
  margin: 0;
  color: white;
  width: calc(25% - 5px);
  aspect-ratio: 1/1;
  padding: 2.5px;
}
.calculator #buttons article button {
  width: 100%;
  aspect-ratio: 1/1;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  background-color: #1a1a1a;
  color: inherit;
}
.calculator #buttons article button:empty {
  background-color: #161616;
}
.calculator #buttons article button:empty::before {
  content: "⠀";
}
.calculator #buttons article button.number {
  background-color: #222;
}
.calculator #buttons article button.blank {
  visibility: hidden;
}
.calculator #buttons article button:hover {
  filter: brightness(120%);
}
.calculator #buttons article button:active {
  filter: brightness(140%);
}

#output {
  font-size: 10px;
  font-family: "Courier New", Courier, monospace;
}
#output:not(:empty)::before {
  content: "Source: ";
}

.footer {
  position: fixed;
  display: inline-block;
  bottom: 10px;
  right: 10px;
  padding: 7px;
  border-radius: 10px;
  background-color: #0a0a0aaa;
  color: #ddd;
}
.footer:not(:hover) {
  text-decoration: none;
}
.footer:focus-visible {
  outline: 2px solid white;
}