body {
  background-color: #111;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.calculator {
  width: 300px;
  background-color: #333;
  border-radius: 10px;
  font-family: "Courier New", Courier, monospace;
  margin-right: 5px;

  @media (min-width: 500px) {
    float: left;
  }

  .top {
    font-size: 25px;

    .answer {
      position: relative;
      display: inline-block;
      width: calc(100% - 20px);
      height: 2ch;
      margin: 5px;
      padding: 5px;
      font-size: 100%;
      border-radius: 5px;
      background-color: #222;

      #error {
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 50%;
        font-style: italic;
        background-color: initial;
        color: #faa;
        background-color: inherit;
        z-index: 50;

        &:not(:empty) ~ #answer {
          opacity: 0.5;
        }
      }

      #answer {
        z-index: 40;

        &:empty::before {
          content: "...";
          opacity: 0.5;
        }
      }
    }

    #math {
      display: inline-block;
      width: calc(100% - 20px);
      height: 2ch;
      resize: none;
      margin: 0 5px;
      padding: 5px;
      overflow-y: auto;
      overflow: hidden;
      word-wrap: break-word;
      border: none;
      border-radius: 5px;
      font-size: inherit;
      font-family: inherit;
      background-color: #222;
      color: inherit;

      &:focus {
        outline: 1px solid #aaa;
      }
    }
  }

  #buttons {
    padding: 2.5px;

    article {
      display: inline-block;
      border: none;
      margin: 0;
      color: white;
      width: calc(25% - 5px);
      aspect-ratio: 1/1;
      padding: 2.5px;

      button {
        width: 100%;
        aspect-ratio: 1/1;
        border: none;
        border-radius: 5px;
        font-size: 20px;
        background-color: #1a1a1a;
        color: inherit;

        &:empty {
          background-color: #161616;

          &::before {
            content: "⠀";
          }
        }

        &.number {
          background-color: #222;
        }

        &.blank {
          visibility: hidden;
        }

        &:hover {
          filter: brightness(120%);
        }

        &:active {
          filter: brightness(140%);
        }
      }
    }
  }
}

#output {
  font-size: 10px;
  font-family: "Courier New", Courier, monospace;

  &:not(:empty)::before {
    content: "Source: ";
  }
}

.footer {
  position: fixed;
  display: inline-block;
  bottom: 10px;
  right: 10px;
  padding: 7px;
  border-radius: 10px;
  background-color: #0a0a0aaa;
  color: #ddd;

  &:not(:hover) {
    text-decoration: none;
  }

  &:focus-visible {
    outline: 2px solid white;
  }
}
